*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    height: 100vh;
    width: 100vw;
    /* Grid */
    /* display: grid;
    justify-content: center;
    align-content: center; */
    /* Flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
.container{
    width: 90%;
    max-width: 450px;
}
h1{
    color: white;
    background-color: black;
    text-align: center;
}
.display-container{
    position: relative;
    background-color: blueviolet;
    /* border-radius: 1rem; */
    /* border-bottom: 0.35rem solid violet;
    margin: 1rem 0;
    padding-top: 0.35rem; */
}

.display{
    width: 100%;
}

.display::placeholder{
    position: absolute;
    color: darkblue;
}

.display-container button{
    position: absolute;
    right: 1.5rem;
}

.input-container{
    background-color: aquamarine;
}

.length-container{
    display: flex;
    justify-content: space-between;
    /* center in vertical axis */
    align-items: center;
}

.length-container p:nth-child(1){
    color: white;
}

.length-container p:nth-child(2){
    color: brown;
}

.strength-container{
    display: flex;
    justify-content: space-between;
    /* center in vertical axis */
    align-items: center;
}

.generateButton {
    width: 100%;
    cursor: pointer;
    /* font-weight: 600;
    font-size: 1.25rem;
    text-align: center;
    padding: 1rem 0;
    background-color: var(--vb-violet);
    border-radius: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 1px; */
}

.slider{
    /* default properties hidden */
    appearance: none;
    width: 100%;
    cursor: pointer;
    background-color: purple;
    border-radius: 1rem;
}

.copyBtn{
    background-color: transparent;
    border: none;
    outline: none;
}

.indicator {
    width:1.5rem;
    height:1.5rem;
    border-radius:50%;
}

.tooltip {
    position: absolute;
    opacity: 0;
  }
  
  .tooltip.active {
    opacity: 1;
  }